@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Space Mono", monospace;
}

:root {
    --bg--body: #C5E4E7;
    --bg--main: #FFFFFF;

}

body {
    background: var(--bg--body);
}

main {
    background: var(--bg--main);
}